nav {
  position: fixed;
  background-color: gainsboro;
  height: 50px;
  width: 100%
}

h1 {
  display: inline;
  position: relative;
  top: 6px;
}

a.first {
  position: relative;
  color: purple;
  left: 82%;
  font-size: 1.5em;
}

a.second {
  position: relative;
  color: purple;
  left: 83%;
  font-size: 1.5em;
}
